<section
    id="sobre-mi"
    class="w-full py-12 px-6 bg-red-500 text-white"
>
    <div class="max-w-7xl mx-auto">
        <h2 class="text-3xl md:text-4xl font-bold mb-10">
            Sobre mí
        </h2>

        <div class="grid md:grid-cols-2 items-center gap-8">
            <div class="flex justify-center">
                <img src="/assests/img.jpeg" 
                        class="w-52 h-52 md:w-64 md:h-64
                            object-cover rounded-full
                            border-2 border-amber-200 shadow-md" 
                        alt="Miguel Medrano"
                />
            </div>

            <div class="space-y-6 text-lg leading-relaxed">
                <p>
                    Soy desarrollador
                    <span class="font-semibold text-amber-300">Full Stack Junior</span>
                    enfocado en la creación de <span class="font-semibold text-amber-300">aplicaciones web y móviles</span>
                    modernas.
                </p>

                <p>
                    Trabajo tanto en frontend como en backend,
                    desarrollando soluciones completas que van
                    desde interfaces intuitivas hasta lógica
                    robusta del lado del servidor.
                </p>

                <p>
                    Me adapto a distintos tipos de proyectos,
                    ya sea aplicaciones web, sistemas internos
                    o aplicaciones móviles, cuidando siempre
                    la experiencia del usuario, el rendimiento
                    y la mantenibilidad del código.
                </p>
            </div>
        </div>
    </div>
</section>
