---
import Card from '@/components/Card.astro';
---

<section id="proyecto" class="px-6 py-12 bg-cyan-500">
    <div class="max-w-7xl mx-auto">
        <h2 class="text-3xl md:text-4xl font-semibold mb-10">
            Proyectos
        </h2>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
            <Card 
                title="proyecto x"
                descripcion="App"
                demo="#"
                github="#"
            />
            <Card 
                title="proyecto 2"
                descripcion="App"
                demo="#"
                github="#"
            />
            <Card 
                title="proyecto 2"
                descripcion="App"
                demo="#"
                github="#"
            />
        </div>
    </div>
</section>